# normalize text
* text=auto

# NOTE: brackets are used for case-insensitive matching
*.[Tt][Xx][Tt] text
*.md text

# special cases: dos
*.c text eol=crlf
*.h text eol=crlf
*.ash text eol=crlf
*.asm text eol=crlf
*.inc text eol=crlf
*.[Ii][Nn][Ii] text eol=crlf
