
# tasm and wcc error files
*.[Ee][Rr][Rr]

# objects
*.[Oo]
*.[Oo][Bb][Jj]
# game data
!src/main_dat.obj
!src/en_dat.obj

# game files
*.[Cc][Ff][Gg]
*.[Ss][Aa][Vv]

# executables
*.[Ee][Xx][Ee]
# legacy executables
!legacy/*.exe
