
# tasm and wcc error files
*.[Ee][Rr][Rr]

# objects
*.o
*.[Oo][Bb][Jj]
# game data objects
!src/main_dat.obj
!src/en_dat.obj
# external objects
!src/modplay.obj

# game files
*.[Cc][Ff][Gg]
*.[Ss][Aa][Vv]

# executables
*.[Ee][Xx][Ee]
# legacy executables
!legacy/*.exe

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake